$white: #ffffff;
$black: #000000;
$grey: rgba(128,130,133,1);
$text-grey: rgba(102,102,102,1);
$lighter-grey: #b4b4b4;
$light-grey: #f9f9f9;
$jacarta: #3f2962;
$purple: #432666;
$purple-light: #a390b4;
$purple-dark: #2e1543;
$orange: #f39600;
$blue: #0e9cd7;
$green: #80c079;
$beige: #f2eed4;
$red: #fc6e35;