@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin gradient-hori($c1, $c2, $start, $end){
  background: $c1;
  background: -moz-linear-gradient(left, $c1 $start, $c2 $end);
  background: -webkit-linear-gradient(left, $c1 $start,$c2 $end);
  background: linear-gradient(to right, $c1 $start,$c2 $end);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$c1', endColorstr='$c2',GradientType=1 );
}

@mixin gradient-vert($c1, $c2, $start, $end){
  background: -moz-linear-gradient(top, $c1 $start, $c2 $end);
  background: -webkit-gradient(linear, left top, left bottom, color-stop($start,$c1), color-stop($end,$c2));
  background: -webkit-linear-gradient(top, $c1 $start,$c2 $end);
  background: -o-linear-gradient(top, $c1 $start,$c2 $end);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin skew($val1, $val2) {
  -webkit-transform: skew($val1 + deg, $val2 +deg);
	-moz-transform: skew($val1 + deg, $val2 +deg);
  -o-transform: skew($val1 + deg, $val2 +deg);
	-ms-transform: skew($val1 + deg, $val2 +deg);
	transform: skew($val1 + deg, $val2 +deg);
}
@mixin rotate($angle) {
	-webkit-transform: rotate($angle + deg);
	-moz-transform: rotate($angle + deg);
	-ms-transform: rotate($angle + deg);
	transform: rotate($angle + deg);
}
@mixin origin($val1, $val2) {
	-webkit-transform-origin: $val1 $val2;
	-moz-transform-origin: $val1 $val2;
  -ms-transform-origin: $val1 $val2;
  transform-origin: $val1 $val2;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin vertical-align($position) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

$mobile-width: 420px;
$medium-width: 600px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-large: 1200px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin medium {
  @media (max-width: #{$medium-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop-large {
  @media (max-width: #{$desktop-large}) {
    @content;
  }
}


@keyframes anticlockwise {
  0% {
    transform: rotate(0deg);
		transform-origin: 50% 50%;
	}
  100% {
    transform: rotate(-360deg);
		transform-origin: 50% 50%;
	}
}
@mixin scale($number) {
	-webkit-transform: scale($number);
	-moz-transform: scale($number);
	-ms-transform: scale($number);
	transform: scale($number);
}
@keyframes float {
  0% {
    -webkit-transform: translateY(0);
  	-moz-transform: translateY(0);
  	-ms-transform: translateY(0);
  	transform: translateY(0);
	}
  50% {
    -webkit-transform: translateY(200%);
  	-moz-transform: translateY(200%);
  	-ms-transform: translateY(200%);
  	transform: translateY(200%);
	}
  100% {
    -webkit-transform: translateY(0);
  	-moz-transform: translateY(0);
  	-ms-transform: translateY(0);
  	transform: translateY(0);
	}
}
