
.home-page {
	.entry-hero {
		position: relative;
		height: 525px;
		background-color: $purple;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		margin-bottom: 50px;
    .guarantee-badge {
      position: absolute;
      right: 7.5%;
      bottom: -30px;
      z-index: 3;
      width: 210px;
    }
		.hero-intro {
			position: relative;
			max-width: 1180px;
			margin: 0 auto;
			padding-top: 40px;
			z-index: 2;
			color: $white;
			h1 {
				width: 40%;
				font-size: 48px;
				display: inline-block;
				margin: 10px 0;
				font-weight: normal;
			}
			.text {
				position: relative;
				width: 40%;
				font-size: 19px;
				.btn {
					position: absolute;
					bottom: -65px;
					left: 0;
				}
			}
		}
		.content-top-curve {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: 100%;
			height: 110px;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
		}
	}
	.entry-content {
		margin-top: 0;
	}
	@include desktop-large {
		.entry-hero {
			.hero-intro {
				margin: 0 20px;
				h1{width:50%}
				.text{width:50%}
			}
		}
	}
	@include desktop {
		.entry-hero {
      .guarantee-badge {
        right: 25px;
      }
			.hero-intro {
				h1{width:60%}
				.text{width:60%}
			}
		}
	}
	@include tablet {
		.entry-hero {
      .guarantee-badge {
        display: none;
      }
			.hero-intro {
				h1{width:70%;font-size:38px}
				.text{width:70%;font-size:18px}
			}
		}
	}
	@include medium {
		.entry-hero {
			.hero-intro {
				h1{width:75%;font-size:32px}
				.text{width:75%;font-size:17px}
			}
		}
	}
	@include mobile {
		.entry-hero {
			color: $white;
			height: 560px;
			&:before {
				@include gradient-vert(transparent, $purple, 25%, 60%);
			}
			.hero-intro {
				padding: 0 30px;
				position: absolute;
				bottom: 75px;
				h1 {
					font-weight: normal;
					font-family: poppins-medium;
					font-size: 35px;
					width: 100%;
				}
				.text {
					font-size: 15px;
					line-height: 22px;
					width: 100%;
					.btn {
						position: static;
						margin-top: 25px;
					}
				}
			}
		}
	}
}