
.news-events-list {
	display: inline-block;
	width: 100%;
	.block {
		position: relative;
		display: inline-block;
		float: left;
		width: calc(100% / 3);
		padding-bottom: 22%;
		.main-link {
			background-color: $white;
			color: #7c7c7c;
			border-top: 8px solid $green;
			position: absolute;
			top: 0;
			left: 0.5px;
			right: 0.5px;
			bottom: 0;
			padding: 25px 30px 25px 30px;
			@include transition(all 0.2s ease);
			.icon {
				color: #dadada;
				position: absolute;
				top: 30px;
				right: 25px;
				width: 50px;
				height: 50px;
				text-align: center;
				line-height: 50px;
				font-size: 50px;
				.day {
					position: absolute;
					top: 7px;
					font-size: 30px;
					bottom: 0;
					left: 0;
					right: 0;
					font-family: 'poppins-medium';
				}
			}
			.block-title {
				font-size: 29px;
				font-family: 'poppins-light';
				margin-right: 60px;
				max-height: 100px;
				overflow: hidden;
				.bold {
					font-family: 'poppins-medium';
					font-weight: bold;
				}
			}
			.block-text {
				font-size: 19px;
				line-height: 31px;
				margin-top: 20px;
			}
			.read-more {
				border-bottom: 1px solid #7c7c7c;
				position: absolute;
				left: 40px;
				bottom: 35px;
			}
			&:hover {
				background-color: $purple;
				color: $white;
				.read-more {
					border-bottom: 1px solid $white;
				}
			}
		}
		&.block-news {
			.main-link {
				border-top: 8px solid $blue;
			}
		}
	}
  @include desktop-large {
    .block {
      min-height: 300px;
    }
  }
  @include desktop {
    .block {
      min-height: 250px;
      .main-link {
        .block-title{
          font-size: 24px;
          line-height: 30px;
        }
        .block-text {
          font-size: 16px;
          line-height: 20px;
          margin-top: 10px;
        }
      }
    }
  }
  @include tablet {
    .block {
      width: calc(100% / 2);
      padding-bottom: 40%;
    }
  }
	@include medium {
    padding: 0 20px;
    .block {
    	width: 100%;
    	padding: 0;
    	.main-link {
    		position: static;
				display: inline-block;
				padding: 20px;
				width: 100%;
				.block-title{font-size:30px}
				.block-text {
					font-size: 15px;
					line-height: 20px;
					margin-bottom: 15px;
          margin-right: 60px;
				}
				.read-more{position:static}
    	}
    }
	}
}