
.advert-block {
	position: relative;
	background-color: $purple;
	padding: 15px 40px;
	height: 285px;
	color: $white;
	border-bottom: 15px solid $light-grey;
	.logo-wrapper {
		position: relative;
		width: 210px;
		height: 100%;
		float: left;
		z-index: 1;
		img {
			@include vertical-align(relative);
		}
	}
	.advert-text {
		font-family: 'poppins-light';
    width: calc(100% - 520px);
    display: inline-block;
    margin: 0 30px;
    font-size: 42px;
    z-index: 1;
		@include vertical-align(relative);
	}
	.advert-button {
		width: 250px;
		height: 100%;
		float: right;
		position: relative;
		z-index: 1;
		.btn {
			float: right;
			@include vertical-align(relative);
		}
	}
	.advert-svg {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		z-index: 0;
	}
	@include desktop {
		padding: 15px 20px;
		height: 240px;
		.advert-text {
			font-size: 32px;
			width: calc(100% - 250px);
			-webkit-transform: none;
			-ms-transform: none;
			transform: none;
			top: 0;
			margin: 15px 20px;
		}
		.advert-button {
			width: calc(100% - 250px);
			margin-top: 25px;
			height: auto;
		}
	}
	@include medium {
		padding: 20px;
		text-align: center;
		height: auto;
		overflow: hidden;
		.logo-wrapper {
	    width: 60%;
	    height: auto;
	    margin: 0 auto;
	    float: none;
			img {
				top: 0;
				-webkit-transform: none;
				-ms-transform: none;
				transform: none;
			}
		}
		.advert-text {
			width: 100%;
			margin: 15px 0;
		}
		.advert-button {
			width: 100%;
			float: none;
			.btn {
				top: 0;
				-webkit-transform: none;
				-ms-transform: none;
				transform: none;
				float: none;
			}
		}
	}
}
