
.shortcode-block {
	overflow: hidden;
	border-bottom: 15px solid $light-grey;
	.head {
		background-color: $white;
		padding: 30px 40px;
		.title {
			font-size: 32px;
		}
		.subtitle {
			font-size: 19px;
			line-height: 31px;
		}
		.intro {
			font-size: 26px;
			line-height: 33px;
		}
	}
	.block-content {
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	@include desktop-large {
		.head {
			.intro {font-size:24px;line-height:30px}
		}
	}
	@include desktop {
		.head {
			.title {font-size:30px}
		}
	}
	@include tablet {
		.head {
			padding: 25px;
			.title {font-size:28px}
			.subtitle {font-size:18px}
			.intro {font-size:22px;line-height:28px}
		}
	}
	@include medium {
		.head {
			.title {font-size:26px}
		}
	}
	@include mobile {
		.head {
			padding: 20px;
			.title {font-size:22px}
			.subtitle {
				font-size: 15px;
				line-height: 22px;
			}
		}
	}
}