
#main article{margin-bottom:50px}

.hr-line {
	background: $purple;
  height: 2px;
  border: 0;
}

.entry-content {
	background-color: $white;
	max-width: 1270px;
	margin: 0 auto;
	margin-bottom: 15px;
	overflow: hidden;
	h1, h2 {
		color: $purple;
		font-size: 34px;
		line-height: 45px;
		font-weight: normal;
	}
	h3 {
		font-weight: normal;
    font-size: 30px;
    line-height: 42px;
	}
	h4 {
		margin: 10px 0;
	}
}

.content-block {
	display: inline-block;
	width: 100%;
	overflow: hidden;
	img {
		margin-bottom: 20px;
		&.alignright {
			float: right;
    	margin-left: 40px;
		}
		&.alignleft {
			float: left;
			margin-right: 40px;
		}
	}
	@include tablet {
		img {
			width: 100%;
			height: auto;
			margin: 0;
			margin-bottom: 20px;
		}
	}
}

.content-wrapper {
  padding: 95px;
  padding-top: 10px;
  padding-bottom: 45px;
	color: $grey;
  font-size: 18px;
  line-height: 32px;
  overflow: hidden;
  .alignleft {
    float: left;
  }
  .alignright {
    float: right;
  }
  .shortcode-block {
		margin: 0 -95px;
		border-bottom: 0;
  }
	@include desktop {
		padding: 50px;
		padding-top: 10px;
		font-size: 22px;
		line-height: 30px;
	  .shortcode-block {
			margin: 0 -50px;
	  }
	}
	@include tablet {
		padding: 35px;
		padding-top: 10px;
		font-size: 20px;
		line-height: 26px;
	  .shortcode-block {
			margin: 0 -35px;
	  }
	}
	@include mobile {
		padding: 20px;
		padding-top: 10px;
		font-size: 20px;
		line-height: 26px;
	  .shortcode-block {
			margin: 0 -20px;
	  }
	}
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

article {	
	ul {
		display: inline-block;
		width: 100%;
    font-size: 22px;
    line-height: 28px;
		color: $purple;
		li {
			position: relative;
			margin: 10px 0;
			padding-left: 35px;
			&:before {
				content: "\e90a";
				font-family: 'icon';
				position: absolute;
				left: 0;
				top: 0;
				font-size: 13px;
			}
		}
	}
	@include desktop {
		ul {
			font-size: 24px;
			line-height: 36px;
			li{margin:26px 0}
		}
	}
	@include tablet {
		ul {
			font-size: 22px;
			line-height: 32px;
			li{margin:20px 0}
		}
	}
}

.entry-bottom-1 {
	background-color: $white;
	max-width: 1270px;
	margin: 0 auto;
	overflow: hidden;
	&.padded {
		padding: 45px 95px;
	}
	@include desktop {
		&.padded {
			padding: 50px;
			padding-top: 10px;
		}
	}
	@include tablet {
		&.padded {
			padding: 35px;
			padding-top: 10px;
		}
	}
	@include mobile {
		margin: 0 20px;
		&.padded {
			padding: 20px;
			padding-top: 10px;
		}
	}
}

.entry-bottom-2 {
	background-color: $white;
	max-width: 1270px;
	margin: 0 auto;
	overflow: hidden;
	&.padded {
		padding: 45px 95px;
	}
	@include desktop {
		&.padded {
			padding: 50px;
			padding-top: 10px;
		}
	}
	@include tablet {
		&.padded {
			padding: 35px;
			padding-top: 10px;
		}
	}
	@include mobile {
		margin: 0 20px;
		&.padded {
			padding: 20px;
			padding-top: 10px;
		}
	}
}