
.find-advice {
	.head {background-color: $light-grey};
	.block {
		background-color: $white;
		display: inline-block;
		width: calc((100% / 3) - 1px);
		float: left;
		@include transition(all 0.2s ease);
		.main-link {
			color: #7c7c7c;
		}
		.on-hover {
			display: none;
			font-size: 33px;
			line-height: 42px;
			font-family: 'poppins-light';
			text-align: center;
			@include vertical-align(relative);
		}
		.image-wrapper {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			padding-bottom: 70%;
		}
		.inner {
			position: relative;
			border-top: 10px solid $blue;
	    padding: 25px 40px;
	    height: 280px;
		}
		.block-title {
			font-size: 33px;
			line-height: 42px;
			font-family: 'poppins-light';
		}
		.block-text {
			font-size: 19px;
			line-height: 31px;
			margin-top: 20px;
		}
		.read-more {
			position: absolute;
			bottom: 35px;
			left: 40px;
			border-bottom: 1px solid #7c7c7c;
		}
		&:first-child{margin-right:1px}
		&:last-child{margin-left:1px}
		&:hover {
			background-color: $purple;
			.main-link{color:$white}
			.initial {display:none}
			.on-hover {
				display: block;
			}
		}
	}
	@include desktop-large {
		.block {
			.inner {
				padding: 15px;
				height: 290px;
			}
			.block-title {
				font-size: 32px;
				line-height: 36px;
			}
			.read-more {left:20px}
			.on-hover {
				font-size: 32px;
				line-height: 36px;
			}
		}
	}
	@include desktop {
		.block {
			.inner {
				height: 250px;
			}
			.block-title {
		    font-size: 24px;
		    line-height: 30px;
			}
			.block-text {
				font-size: 16px;
				line-height: 26px;
				margin-top: 10px;
			}
			.read-more {bottom:30px}
			.on-hover {
				font-size: 24px;
				line-height: 30px;
			}
		}
	}
	@include tablet {
		.block {
			.inner {
				height: 250px;
			}
			.block-title {
		    font-size: 18px;
		    line-height: 24px;
			}
			.block-text {
				line-height: 22px;
			}
			.read-more{bottom:20px}
			.on-hover {
				font-size: 18px;
				line-height: 24px;
			}
		}
	}
	@include medium {
		.block {
			width: 86%;
			margin-left: 7%;
			.inner {
				height: 205px;
			}
			.block-title {
				font-size: 24px;
				line-height: 28px;
			}
			&:first-child{margin-right:0}
			&:last-child{margin-left:7%}
			.on-hover {
				font-size: 24px;
				line-height: 28px;
			}
		}
	}
	@include mobile {
		.block {
			background-color: transparent;
			width: 100%;
			border-top: 8px solid $blue;
			margin-bottom: 8px;
			margin-left: 0;
			.inner {
				border-top: 0;
				height: auto;
				padding: 20px;
				padding-bottom: 55px;
			}
			.block-title {
		    font-size: 18px;
		    line-height: 24px;
			}
			.block-text {
				font-size: 15px;
				line-height: 22px;
				margin-top: 5px;
			}
			.read-more {
				bottom: 20px;
				left: 20px;
			}
			.on-hover {
				font-size: 18px;
				line-height: 24px;
			}
			&:last-child{margin-left:0}
		}
	}
}