
.hearing-aids-block {
	padding-bottom: 15px;
	.block-content {
		.block {
			background-color: $white;
			display: inline-block;
			float: left;
			width: calc((100% / 3) - 1px);
			.block-image {
				img {
					display: block;
					width: 100%;
					height: auto;
				}
			}
			.block-title {
				color: #7c7c7c;
				font-size: 19px;
				line-height: 31px;
				padding: 10px 25px 20px 25px;
        text-align: center;
			}
			&:nth-child(3n+2) {
				margin: 0 1px;
			}
		}
	}
	.foot {
    margin-top: 25px;
    margin-left: 95px;
    display: inline-block;
	}


  @include desktop {
    .foot {
      margin-left: 50px;
    }
  }
	@include tablet {
		.block-content {
			.block {
				width: 50%;
				.block-title{
					font-family: 'poppins-light';
					padding: 10px 5px 30px 5px;
				}
				&:nth-child(3n+2) {
					margin: 0;
				}
			}
		}
    .foot {
      margin-left: 35px;
    }
	}
	@include mobile {
		.block-content {
			padding: 0 20px;
			.block {
				width: 100%;
			}
		}
    .foot {
      margin-left: 20px;
    }
	}
}