
.meet-the-team-block {
  background-color: $white;
  font-family: 'poppins-light';
  color: #7c7c7c;
  margin-bottom: 15px;
  overflow: hidden;
	padding-top: 45px;
	.team-title {
		font-size: 29px;
		line-height: 41px;
	}
	.team-text {	
		padding-top: 50px;
    overflow: hidden;
    .row {
      display: flex;
      border-bottom: 1px solid #CCCCCC;
      margin-bottom: 70px;
      padding-bottom: 70px;
    }
    .image {
      background-color: $grey;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 180px;
      height: 180px;
      display: inline-block;
      float: left;
      margin-right: 15px;
    }
    .head {
      position: absolute;
      right: 15px;
      top: 0;
      width: calc(100% - 210px);
    }
		h2, h3 {
			margin: 0;
			padding: 0;
			font-weight: normal;
		}
		h2 {
      font-size: 25px;
      line-height: 25px;
    }
    .centre {
      font-size: 18px;
      line-height: 25px;
      color: #484848;
    }
    .position {
      font-size: 18px;
      line-height: 25px;
      color: #95989A;
    }
		.block {
			width: 50%;
			float: left;
      position: relative;
		}
		.text {
			font-size: 14px;
			line-height: 20px;
      color: #95989A;
      padding-top: 96px;
      padding-right: 15px;
      .read-more {
        position: absolute;
        bottom: -15px;
        left: 195px;
        font-family: 'poppins';
        color: $purple;
        cursor: pointer;
      }
      &.closed {
        height: 170px;
        overflow: hidden;
        .read-more {
          top: 170px;
        }
      }
		}
	}
  @include desktop {
    .team-text {
      .text {
        width: 100%;
        padding-top: 0;
        display: inline-block;
        .read-more {
          bottom: auto;
          top: 165px;
        }
        &.closed {
          .read-more {
            top: 165px;
          }
        }
      }
    }
  }
  @include tablet {
    .team-text {
      .row {
        display: inline-block;
        margin: 0;
        padding: 0;
        border-bottom: 0;
      }
      .block {
        width: 100%;
        border-bottom: 1px solid #CCCCCC;
        padding-bottom: 35px;
        margin-bottom: 35px;
      }
      .text {
        padding-right: 0;
        &.closed {
          height: auto;
          .read-more {
            display: none;
          }
        }
      }

    }
  }
  @include mobile {
    .team-text {
      .head {
        position: static;
        width: 100%;
        display: inline-block;
        padding-right: 15px;
        padding-top: 10px;
      }
    }
  }
}