
.testimonials-slider {
	.slider-wrapper {
		position: relative;
		background-color: $purple;
		height: 310px;
		color: $white;
		font-size: 19px;
		font-family: 'poppins-light';
		line-height: 32px;
		.testimonials-slider-content {
	    padding: 0 40px;
	    padding-top: 70px;
	    padding-bottom: 40px;
	    .qoute {
	    	position: absolute;
	    	top: 10px;
	    	left: 0;
	    	width: 20px;
	    	height: 22px;
	    	svg {
	    		fill: $white;
	    	}
	    	&.end {
					position: static;
					display: inline-block;
					margin-left: 15px;
	    	}
	    }
	    .block-text {
	    	padding-left: 40px;
	    	margin-top: 20px;
	    }
	    .owl-item {
	    	height: 200px;
	    }
	    .owl-nav {
	    	position: absolute;
	    	top: 0;
				left: 40px;
				right: 40px;
				border-bottom: 1px solid $white;
				text-align: right;
				padding: 15px 0;
				div {
					display: inline-block;
					@include border-radius(50%);
					border: 1px solid $white;
					height: 26px;
					width: 26px;
					text-align: center;
					line-height: 26px;
					font-size: 26px;
					margin-left: 15px;
				}
	    }
	    .author {
	    	position: absolute;
	    	bottom: 0;
	    	right: 0;
	    	font-family: 'poppins';
	    }
		}
	}
	.slider-svg {
		position: absolute;
		top: 0;
		right: -15%;
		height: 100%;
		z-index: 0;
	}
	.foot {
		overflow: hidden;
		display: inline-block;
		width: 100%;
		margin-top: 25px;
		margin-bottom: 15px;
		margin-left: 15px;
	}
	@include desktop {
		.slider-wrapper {
			height: auto;
			.testimonials-slider-content {
				.block-text {
					padding-bottom: 45px;
				}
		    .owl-item {
		    	height: auto;
		    }
			}
		}
	}
	@include tablet {
		.slider-wrapper {
			.testimonials-slider-content {
				padding: 0 25px;
				padding-top: 70px;
				padding-bottom: 40px;
				.owl-nav {
					left: 25px;
					right: 25px;
				}
			}
		}
	}
	@include medium {
		.slider-wrapper {
			line-height: 28px;
			.testimonials-slider-content {
				.block-text {
					padding-left: 25px;
					margin-top: 10px;
				}
			}
		}
	}
}