
.upcoming-events {
	.block {
		position: relative;
		display: inline-block;
		float: left;
		width: calc(100% / 3);
		padding-bottom: 25%;
		.main-link {
			color: #7c7c7c;
			border-top: 8px solid $green;
			position: absolute;
			top: 0;
			left: 0.5px;
			right: 0.5px;
			bottom: 0;
			padding: 50px 40px 35px 40px;
			@include transition(all 0.2s ease);
			.block-title {
				font-size: 36px;
				font-family: 'poppins-light';
				margin-right: 60px;
				max-height: 100px;
				overflow: hidden;
				.bold {
					font-family: 'poppins-medium';
					font-weight: bold;
				}
			}
			.block-text {
				font-size: 19px;
				line-height: 31px;
				margin-top: 20px;
			}
			.read-more {
				border-bottom: 1px solid #7c7c7c;
				position: absolute;
				left: 40px;
				bottom: 35px;
			}
			&:hover {
				background-color: $purple;
				color: $white;
				.read-more {
					border-bottom: 1px solid $white;
				}
			}
		}
		&.block-news {
			.main-link {
				border-top: 8px solid $blue;
			}
		}
	}
	.foot {
		overflow: hidden;
		display: inline-block;
		width: 100%;
		margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 15px;
	}
	@include desktop-large {
		.block {
			padding-bottom: 25%;
			.main-link {
				padding: 25px;
				.block-title {
					font-size: 26px;
					margin: 0;
				}
				.block-text {
			    font-size: 19px;
			    line-height: 30px;
					margin-top: 10px;
				}
				.read-more {
					left: 25px;
					bottom: 10px;
				}
			}
		}
	}
	@include desktop {
		.block {
			padding-bottom: 28%;
			.main-link {
				padding: 20px;
				.block-title {
					font-size: 22px;
				}
				.block-text {
					font-size: 16px;
					line-height: 20px;
				}
				.read-more {
					left: 20px;
				}
			}
		}
	}
	@include tablet {
		.block {
			.main-link {
				padding: 10px;
				.block-title {
					font-size: 18px;
				}
				.read-more {
					left: 10px;
					bottom: 15px;
				}
			}
		}
	}
	@include medium {
		.block-content{padding:0 20px}
		.block {
			width: 100%;
			padding: 0;
			.main-link {
				position: static;
				width: 100%;
				padding: 20px 0;
				display: inline-block;
				text-align: center;
				.block-title {
					font-size: 30px;
					padding: 0 25px;
				}
				.block-text {
					font-size: 15px;
					line-height: 20px;
					margin-top: 10px;
					margin-bottom: 15px;
					padding: 0 25px;
				}
				.read-more{position:static}
			}
		}
	}
}